<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Bank Accounts List</h1>
<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="element : ${accountList}">
        <tr>
        <td th:text="${accountList.indexOf(element)}"></td>
        <td th:text="${element.name}"></td>
        <td th:text="|${#numbers.formatDecimal(element.balance,1,2)} Peso|"></td>
        <td th:text="${element.animalType}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>