<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Bank Accounts List</h1>
<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal</th>
        <th>Is king</th>
        <th>Is good</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="element : ${accountList}">
        <tr th:class="${element.king} ? king : notking">
        <td th:text="${accountList.indexOf(element)}"></td>
        <td th:text="${element.name}"></td>
        <td th:text="|${#numbers.formatDecimal(element.balance,1,2)} Peso|"></td>
        <td th:text="${element.animalType}"></td>
        <td>
            <span th:if="${element.king}">King</span>
            <span th:unless="${element.king}">Not king</span>
        </td>
        <td th:switch="${element.good}">
            <span th:case="true">
                Good guy
            </span>
            <span th:case="false">
                Bad guy
            </span>
        </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>