<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Todos for today:</h1>
    <h2><a href="/todo/add">Add new todo</a></h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="todo : ${todos}" th:unless="${listActives}">
                <tr>
                    <td th:text="${todo.getId()}"></td>
                    <td th:text="${todo.getTitle()}"></td>
                    <td th:text="${todo.isDone()}"></td>
                    <td th:text="${todo.isUrgent()}"></td>
                    <td><a th:href="@{'/' + ${todo.getId()} + '/delete'}">Delete</a></td>
                </tr>
            </th:block>

            <th:block th:each="todo : ${todos}" th:if="${listActives}" th:unless="${todo.isDone()}">
                <tr>
                    <td th:text="${todo.getId()}"></td>
                    <td th:text="${todo.getTitle()}"></td>
                    <td th:text="${todo.isDone()}"></td>
                    <td th:text="${todo.isUrgent()}"></td>
                    <td><a th:href="@{'/' + ${todo.getId()} + '/delete'}">Delete</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>