<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8"/>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Your todos:</h1>
        <h2><a href="/todo/add" class="btn btn-warning" role="button">Add new todo</a></h2>
        <h2>
            <a href="/todo">Show all</a>
            <br>
            <a href="/todo?isActive=true">Only show active ones</a>
        </h2>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ACTION</th>
                    <th>DONE</th>
                    <th>URGENT</th>
                    <th>DELETE</th>
                    <th>EDIT</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="todo : ${todos}" th:unless="${listActives}">
                    <tr>
                        <td th:text="${todo.getId()}"></td>
                        <td th:text="${todo.getTitle()}"></td>
                        <td th:text="${todo.isDone()}"></td>
                        <td th:text="${todo.isUrgent()}"></td>
                        <td><a th:href="@{'/' + ${todo.getId()} + '/delete'}" class="btn btn-danger" role="button">Delete</a></td>
                        <td><a th:href="@{'/' + ${todo.getId()} + '/edit'}" class="btn btn-info" role="button">Edit</a></td>
                    </tr>
                </th:block>

                <th:block th:each="todo : ${todos}" th:if="${listActives}" th:unless="${todo.isDone()}">
                    <tr>
                        <td th:text="${todo.getId()}"></td>
                        <td th:text="${todo.getTitle()}"></td>
                        <td th:text="${todo.isDone()}"></td>
                        <td th:text="${todo.isUrgent()}"></td>
                        <td><a th:href="@{'/' + ${todo.getId()} + '/delete'}" class="btn btn-danger" role="button">Delete</a></td>
                        <td><a th:href="@{'/' + ${todo.getId()} + '/edit'}" class="btn btn-info" role="button">Edit</a></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </div>
</body>
</html>