<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Edit Todo</h1>
    <form method="post" action="/todo/add" th:action="@{'/' + ${id} + '/edit'}">
        <input type="text" name ="title" th:value="${title}" required>
        <br>
        <label for="urgent">Urgent</label>
        <input type="checkbox" name="urgent" id="urgent" th:checked="${urgent}">
        <br>
        <label for="done">Done</label>
        <input type="checkbox" name="done" id="done" th:checked="${done}">
        <br>
        <input type="submit" value="Edit">
        <a href="/todo">Cancel</a>
    </form>
</body>
</html>