body {
    font-family: Arial, Helvetica, sans-serif !important;
}

thead {
    background: #EEEEEE;
    color: #333333;
}

table, th, td {
    border: 1px solid #ccccb3;
    text-align: center;
    font-size: 16px;
    vertical-align: middle !important;
}

button{
    border:0 !important;
    background:transparent !important;
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}