body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-image: url("https://thumbs.gfycat.com/SnappyAliveJackrabbit-size_restricted.gif");
    background-size: cover;
}

thead {
    background: #EEEEEE;
    color: #333333;
}

table, th, td {
    border: 1px solid #ccccb3;
    text-align: center;
    font-size: 16px;
    vertical-align: middle !important;
}

button{
    border:0 !important;
    background:transparent !important;
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}

.jumbotron {
    background: none !important;
    font-weight: bold !important;
    font-size: 45px !important;
}