<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h2><a href="/submit">Add new post</a></h2>
<h1>Trending posts</h1>
<table>
    <tr th:each="post : ${posts}">
        <td th:text="${post.score}"></td>
        <td>
            <form th:action="@{|/upvote/${post.id}|}" method="post">
                <button type="submit">+</button>
            </form>
        </td>
        <td>
            <form th:action="@{|/downvote/${post.id}|}" method="post">
                <button type="submit">-</button>
            </form>
        </td>
        <td>
            <a th:href="${post.url}" th:text="${post.title}" target="_blank"></a>
        </td>
        <td th:text="${post.time}"></td>
    </tr>
</table>
</body>
</html>