<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <span th:text="|Number of students: ${number}|"></span>
    <br>
    <a th:href="${list}" target="_blank">List of all students</a>
    <br>
    <a th:href="${add}" target="_blank">Add new student form</a>
    <br>
    <a th:href="${check}" target="_blank">Check for existing student</a>
</body>
</html>